*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.backImg
{
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(to right, rgb(187, 203, 224) , rgb(177, 132, 153));
    background-attachment: fixed;
}
.editorial 
{
    font-family: 'ff-spinoza-web-pro', 'Georgia', serif;
    padding: 5em 6em;
    font-size: 18px;
    position: relative;
    line-height: 2em;
}
img.sticky 
{
    position: sticky;
    top: 0;
}
.lead {
    font-family: colfax-web, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75em;
}
.break {
    color: red;
    font-size: 0.75em;
    text-align: center;
}
.post-slider
{
    padding: 5em 6em;
}
.post-slider .post-wrapper
{
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.post-slider .slider-title
{
    text-align: center;
}
.post-slider .post-wrapper .post
{
    /*width: 300px;*/
    height: 500px;
    margin: 0px 20px;
    background-color: #888888;
    display: inline-block;
}
footer {
    background: rgb(187, 203, 224);
    padding: 0em 6em 20em;
    position: relative;
}
